[submodule "apps/qtresearch"]
	path = apps/qtresearch
	url = https://github.com/quanttide/qtresearch.git
[submodule "docs/specification"]
	path = docs/specification
	url = https://github.com/quanttide/quanttide-specification-of-academic-research.git
[submodule "docs/tutorial"]
	path = docs/tutorial
	url = https://github.com/quanttide/quanttide-tutorial-of-academic-research.git
[submodule "data/profile"]
	path = data/profile
	url = https://github.com/quanttide/quanttide-profile-of-academic-research.git
[submodule "data/journal"]
	path = data/journal
	url = https://github.com/quanttide/quanttide-journal-of-academic-research.git
[submodule "data/context"]
	path = data/context
	url = https://github.com/quanttide/quanttide-context-of-academic-research.git
